NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

NEXT_PUBLIC_GAS_URL=""
NEXT_PUBLIC_EDGE_FUNCTION_PUSH="" #line notify

NEXT_PUBLIC_EDGE_FUNCTION=""

NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY="" # For backend logic


NODE_ENV="development"

NEXT_PUBLIC_LIFF_ID=""
NEXT_PUBLIC_LIFF_URL=""

